#printbtn {
    background: transparent;
    outline: none;
    border: none;
    font-size: larger;
    padding-top: 15px;
    margin-left: 650px;
    animation: fadeIn 1s;
    transition: height .2s ease;
}

#printbtn:hover {
    cursor: pointer;
}

@media print {
    #chin1 h2,
    #printbtn,
    #bemu,
    #non,
    .icon-bar {
        display: none;;
    }

    #print, #print * {
        display: block;
    }
}