.data {
    display: block;
    animation: fadeIn 1s;
    transition: height .2s ease;
    color: #3A3B3C;
    margin-top: 10px;
    margin-left: 350px;
    position: relative;
}

.dob {
    margin-left: auto;
    position: absolute;
    top: 50px;
    left: 500px;
    width: 100%;
}

.namer {
    margin-left: auto;
    position: absolute;
    top: 50px;
    width: 100%;
}

.daily {
    position: absolute;
    top: 150px; 
    left: 500px;
    width: 100%;
}

.bio {
    margin-left: auto;
    position: absolute;
    top: 150px;
    width: 100%;
}

.longlove {
    position: absolute;
    top: 250px; 
    left: 500px;
    width: 100%;
}

.fav {
    position: relative;
    top: 250px;
    width: 100%;
}

.owner {
    position: relative;
    top: 200px;
    left: 500px;
}

.userinfoForm,
.privacyForm,
.securityForm,
.chatForm {
    position: absolute;
    top: 0;
    left: 0;
    visibility: hidden;
}

.userinfoForm.active,
.privacyForm.active,
.securityForm.active,
.chatForm.active {
    background-color: transparent;
    transition: ease-in .3s;
    position: absolute;
    top: 0;
    left: 200px;
    visibility: visible;
}

.identifier {
    font-weight: 1000;
    margin-top: 20px;
}

.inner {
    margin-top: 5px;
    margin-left: 10px;
}

#year_selector {
    font-size: medium;
}

input[type="number"] {
    display: block;
    width: 60%;
    padding: 10px 0px 10px 10px;
    border: none;
    border-bottom: 2px solid #88898A;
    font-size: 15px;
    color: #3A3B3C;
    background-color: #F2F2F2;
    box-sizing: border-box;
    width: auto;
}

input[type="password"],
input[type="date"],
input[type="text"],
textarea,
select {
    width: 60%;
    padding: 10px 0px 10px 10px;
    border: none;
    border-bottom: 2px solid #88898A;
    font-size: 15px;
    color: #3A3B3C;
    background-color: #F2F2F2;
    box-sizing: border-box;
}

input[type="password"] {
    width: 300px;
}

input[type="password"]:focus,
input[type="number"]:focus,
input[type="date"]:focus,
input[type="text"]:focus,
textarea:focus,
select:focus {
    outline: none;
    border-color: #3A3B3C;
    transition: .4s;
}

input[type="date"]::-webkit-calendar-picker-indicator {
    background: transparent;
    padding: 5px;
}

input[type="radio"]:checked {
    background-color: #3A3B3C;
}

label {
    display: block;
    margin-bottom: 10px;
}

input[type="text"],
textarea {
    width: 100%;
    padding: 5px;
    box-sizing: border-box;
    margin-bottom: 20px;
    resize: none;
}

.savebtn {
    display: flex;
    width: 100px;
    height: 50px;
    background: #3A3B3C;
    border: none;
    outline: none;
    border-radius: 6px;
    cursor: pointer;
    font-size: 1em;
    color: white;
    font-weight: 500;
    margin-top: 7px;
    justify-content: center;
    align-items: center;
    position: absolute;
    left: 275px;
    top: 500px
}

.savebtn span,
.savebtn-new span {
    padding-left: 10px;
}

.chat-container {
    transform: translateY(+15%);
    background-color: #F2F2F2;
    border-radius: 20px;
    padding: 20px;
    margin: 20px auto;
    width: 80%;
    max-width: 800px;
    height: 480px;
}

.chat-header {
    background-color: #3A3B3C;
    color: white;
    padding: 10px;
    border-radius: 10px 10px 0 0;
    margin-bottom: 20px;
}

.chat-messages {
    height: 300px;
    overflow-y: scroll;
    margin-bottom: 20px;
    display: flex;
    flex-direction: column;
}

.message {
    padding: 10px;
    border-radius: 20px;
    margin-bottom: 10px;
    max-width: 70%;
}

.sent {
    background-color: #3A3B3C;
    color: white;
    align-self: flex-end;
}

.received {
    background-color: white;
    color: #3A3B3C;
    align-self: flex-start;
}

.sender {
    display: block;
    font-size: 0.8rem;
    color: #88898A;
    margin-bottom: 5px;
}

.chat-input {
    display: flex;
}

.chat-input input[type="text"] {
    flex: 1;
    border: none;
    border-radius: 5px;
    padding: 10px;
    margin-right: 10px;
    margin-top: 10px;
}

.chatbtn {
    background-color: #3A3B3C;
    color: white;
    border: none;
    border-radius: 20px;
    height: 50px;
    padding: 10px;
    cursor: pointer;
}

.chatbtn span {
    padding-left: 5px;
}

.passchanger {
    margin: 30px 0;
    display: block;
    transform: translateX(+60%);
}

.left {
    width: 70%;
    margin-top: 50px;
}

.right {
    width: 100%;
    position: absolute;
    left: 500px;
    top: 50px;
}

.right2 {
    width: 100%;
    position: absolute;
    left: 500px;
    top: 170px;
}

.right3 {
    width: 100%;
    position: absolute;
    left: 500px;
    top: 285px;
}

.securityForm {
    margin-top: 50px;
}

.savebtn-new {
    display: flex;
    width: 100px;
    height: 50px;
    background: #3A3B3C;
    border: none;
    outline: none;
    border-radius: 6px;
    cursor: pointer;
    font-size: 1em;
    color: white;
    font-weight: 500;
    justify-content: center;
    align-items: center;
    position: absolute;
    left: 300px;
    top: 400px;
}

select {
    border-radius: 10px;
}